
@font-face {
    font-family: 'TheSeasonsFont';
    src: url("./Demo_Fonts/TheSeasons/Fontspring-DEMO-theseasons-reg.otf");
  }
 
  @font-face {
    font-family: 'TT Hoves';
    src: url("./Demo_Fonts/TT Hoves/TTHoves-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: black;
    color: white;
    font-size: 26.6667px;
    font-weight: 400;
    font-family: "TheSeasonsFont", sans-serif;
}


h1 {
    font-size: 92px;
}

h2  {
    font-size: 60px;
} 

h3  {
    font-family: "TT Hoves", sans-serif;
    font-size: 26px;
} 

h4  {
    font-family: "TT Hoves", sans-serif;
    font-size: 22px;
} 

h5  {
    font-family: "TT Hoves", sans-serif;
    font-size: 18px;
} 



.container {
   display: flex;
    margin: 71.965px;
  
}

.text-container {
padding-left: 75px;

}

.title {
    outline: 1px solid white;
    border-radius: 50px;
    display: inline-flex;
    margin-top: 15px;
    padding: 25px;
}

.image-container {
    padding: 50px; /* Add padding to prevent clipping */
    margin-left: 75px;
    padding-top: 0px;
    max-width: 45%;
    }
  

.rotated-oval {
    padding-right: 10px;
    transform: rotate(20deg); /* Rotate the oval */
    border-radius: 50%; /* Makes the mask elliptical */
    overflow: hidden;
    background-color: aqua;
      }
      
.Nazar-picture { 
    position: relative; 
    margin-top: -50px;
    margin-left: -120px;
    object-fit: cover; /* Ensures the image covers the oval completely */
    transform: rotate(-20deg); /* Corrects image rotation to align with the oval */
            
        }

.icons {
        display: flex;
        color: white;
        justify-content: end;
        gap: 10px;
        margin-right: 0px;
      }  

.icon {
        display: flex;
        gap: 10px;
    }     

.container-2 {
    display: flex;
    margin: 71.965px;
    margin-bottom: 0px;
    padding: 0px 12px;
    height: 80vh;

}

.oval {
    height: 100%;
    width: 100%;
    border-radius: 50%; /* Makes the mask elliptical */
    background-color: aqua;
    overflow: hidden;
    transform: rotate(30deg); /* Rotate the oval */
}

.Think-outside {
    height: 100%;
    width:100%;
}

.line {
    margin-top: 30px;
    border-bottom: 2px solid white;
    width: 40%;
}


.container-3 {
    display: flex;
    margin: 71.965px;
    padding: 0px 12px;
    height: 90vh;
}

.list-1 {
    display: flex;
    list-style-type: none;

}

.list-container {
    margin-top: 250px;
    
}


.container-4 {
    display: block;
    margin: 71.965px;
    padding: 0px 12px;
    height: 80vh;
}

.grid-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 200px;
    gap: 50px;

}

.column1-content{
    display: flex;
    gap: 15px;
    margin-top: 30px;
}

.slide4-images {
    height: 300px;
    width: 100%; /* Match the width of the container */
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.container-5 {
    display: block;
    margin: 71.965px;
    padding: 0px 12px;
    height: 90vh;
}
.grid-container-2 {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px;
    gap: 250px;

}

.slide5-images {
    height: 300px;
    width: 100%; /* Match the width of the container */
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.container-6 {
    display: flex;
     margin: 71.965px;
     height: 90vh;
 }

.Coding-picture {
    position: relative;
    margin-top: -20px;
    height: 125%;
    width: 135%;
    object-fit: cover; /* Ensures the image covers the oval completely */
    transform: rotate(-20deg); /* Corrects image rotation to align with the oval */
}

.quote {
    font-size: 55px;
    text-align: left;
    justify-self: center;   
}

.oval-2 {
    height: 100%;
    padding-right: 0px;
    transform: rotate(20deg); /* Rotate the oval */
    border-radius: 50%; /* Makes the mask elliptical */
    overflow: hidden;
    background-color: aqua;
}

.container-7 {
    margin: 71.965px;
    margin-bottom: 0px;
    padding: 0px 12px;
    display: flex;
    padding: 0px 12px;
    height: 90vh;

    
}

.column1-content-6 {
    display: flex;
}

.Text-slide6 {
    display: inline-block;
}

.container-8 {
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 12px;
    justify-content: space-between;
    border-top: 1px solid white;
    
}

/*  Mobile Resizing BELOW ->>> */

@media (max-width:600px) {

    .container, .container-2, .container-3, .container-4, .container-5, .container-6, .container-7, .container-8, .grid-container, .grid-container-2 {
        display: block;
        height: auto;
        min-height: 100%; /* Use min-height instead of vh */
    }

    body {
        background-color: black;
        color: white;
        font-size: 26.6667px;
        font-weight: 400;
        font-family: "TheSeasonsFont", sans-serif;
    }
    
    h1 {
        font-size: 60px;
    }
    
    h2  {
        font-size: 45px;
    } 
    
    h3  {
        font-family: "TT Hoves", sans-serif;
        font-size: 20px;
    } 
    
    h4  {
        font-family: "TT Hoves", sans-serif;
        font-size: 16px;
    } 
    
    h5  {
        font-family: "TT Hoves", sans-serif;
        font-size: 12px;
    } 
    
    
    .container {
        margin: 10px;
        margin-top: 30px;
        padding: 0px;
    }
    
    .text-container {
    padding: 0px;
    text-align: left;
    margin: 0px;
    margin-bottom: 30px;

    
    }
    
    .title {
        outline: 1px solid white;
        border-radius: 50px;
        margin-top: 15px;
        padding: 15px;
        text-align: center;
    }
    


    .image-container {
        max-width: 100%;
        padding: 0px; /* Add padding to prevent clipping */
        margin-left: 0px;
        padding-top: 0px;
        }
      
    
    .rotated-oval {
        max-height: 100%;
        max-width: 90%;
        padding-right: 0px;
        transform: rotate(30deg); /* Rotate the oval */
        border-radius: 50%; /* Makes the mask elliptical */
        overflow: hidden;
        background-color: aqua;
    
          }
          
    .Nazar-picture {
        max-width: 100%; 
        margin: 0px;  
        object-fit: cover; /* Ensures the image covers the oval completely */
        transform: rotate(-30deg); /* Corrects image rotation to align with the oval */
         
            }
    
    .icons {
            color: white;
            justify-content: center;
            gap: 10px;
            margin-right: 0px;
            margin-top: 20px;
          }  
    
    .icon {
           
            gap: 10px;
        }     
    
    .container-2 {
        margin: 0px;
        margin-left: 10px;
        margin-top: 100px;
        padding: 0px 12px;
        padding: 0px;
    
    }
    
    .oval {
        margin-top: 100px;
        max-height: 100%;
        max-width: 90%;
        border-radius: 50%; /* Makes the mask elliptical */
        background-color: aqua;
        overflow: hidden;
    }
    
    .Think-outside {
        
        width:100%;

    }
    
    .line {
        margin-top: 50px;
        margin-bottom: 50px;
        border-bottom: 2px solid white;
        width: 50%;
    }
    
    
    .container-3 {
        margin: 0px;
        margin-left: 10px;
        margin-top: 100px;
        padding: 0px 12px;
        padding: 0px;
    }
    
    .list-1 {
        list-style-type: none;
        gap: 5px;
        padding: 10px;
        max-width: 100%;
    }
    
    .list-container {
        margin-top: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    
    .container-4 {
    
        margin: 0px;
        margin-left: 10px;
        margin-top: 100px;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0px;
    }
    
    .grid-container {
        display: block;
        margin: 0px;
        margin-top: 50px;
        width: 60%;
        gap: 50px;
    
    }
    
    .column1-content{
        gap: 15px;
        margin: 30px;
    }
    
    .slide4-images {
        max-height: 300px;
        width: 100%; /* Match the width of the container */
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
    }
    
    .container-5 {
        margin: 0px;
        margin-left: 10px;
        margin-top: 100px;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0px;
    }
    .grid-container-2 {
        display: block;
        margin: 0px;
        margin-top: 50px;
        width: 60%;
        gap: 50px;
    
    }

    .slide5-images {
        max-height: 300px;
        width: 100%; /* Match the width of the container */
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
    }
    
    .container-6 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0px;
        margin-left: 10px;
        margin-top: 100px;
         padding: 0px;
        
     }
    
     .oval-2 {
        margin-top: 50px;
        border-radius: 50%; /* Makes the mask elliptical */
        background-color: aqua;
        overflow: hidden;
        transform: rotate(30deg); /* Rotate the oval */
    }
    
    .Coding-picture {
        width:100%;
    }
    
    .quote {
      
        font-size: 45px;
        text-align: center;
        margin-bottom: 0px;
        max-width: 90%;   
    }


    .container-7 {
        margin: 0px;
        margin-left: 10px;
        margin-top: 100px;
        margin-bottom: 0px;
        display: block;
        height: 80vh;
        padding: 0px;
    
        
    }
    
    
    .Text-slide6 {
        display: block;
    }
    
    .container-8 {
        margin: 0px;
        margin-left: 10px;
        margin-top: 30px;   
        padding: 0px;
        display: flex;
        justify-content: space-between;
        border-top: 1px solid white;
       
        
    }
    
}


  
 